{% extends 'base.html.twig' %}

{% block title %}Voir l'avancement de {{ projet.name }}{% endblock %}

{% block body %}

{% set total = 0 %}
{% set current = 0 %} <!-- Calcul de l'avancement de chaque projet -->
{% for tacheProj in projet.tacheProjets %}
{% set total = total + 1 %}
{% if tacheProj.termine == 1 %}
{% set current = current + 1 %}
{% endif %}
{% endfor %}
{% set avancementTotal = ((current / total) * 100)|round %}

  <h1 class="mb-3 mb-sm-3">Avancement du projet {{ projet.name }}</h1>

  <div class="progress col-sm-6 p-0 d-block m-auto" style="height: 38px">
    <div class="progress-bar progress-bar-striped {% if avancementTotal == 100 %}bg-success{% elseif avancementTotal >= 66 %}bg-info{% elseif avancementTotal >= 33 %}bg-warning{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ avancementTotal }}%; font-size:20px; height: 100%;" aria-valuenow="{{ avancementTotal }}" aria-valuemin="0" aria-valuemax="100">{{ avancementTotal }}%</div>
  </div>

  {{ form_start(form, {'attr': {'class': 'mt-3 mt-sm-5'}} ) }}
  {% for categ in categories %}
    {% set totalc = 0 %}
    {% set currentc = 0 %}
    {% for tch in projet.tacheProjets %}
        {% if tch.tache.categorie.id == categ.id %}
          {% set totalc = totalc + 1 %}
          {% if tch.termine == 1 %}
            {% set currentc = currentc + 1 %}
          {% endif %}
        {% endif %}
    {% endfor %}
    {% if totalc > 0 %}
        {% set avancement = ((currentc / totalc) * 100)|round %}
        <ul class="list-group list-group-flush mb-3 mb-sm-5 ulVoirAvancement">
          <h4>{{ categ.name }}
          <div class="progress ml-3 d-sm-none mt-2" style="height: 22px;width: 90%;display:inline-block; margin-bottom: -2px;">
            <div class="progress-bar progress-bar-striped align-middle {% if avancement == 100 %}bg-success{% elseif avancement >= 66 %}bg-info{% elseif avancement >= 33 %}bg-warning{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ avancement }}%; font-size:18px; height: 100%;" aria-valuenow="{{ avancement }}" aria-valuemin="0" aria-valuemax="100">{{ avancement }}%</div>
          </div>
          <div class="progress ml-3 d-none d-sm-inline-block" style="height: 22px;width: 200px;display:inline-block; margin-bottom: -2px;">
            <div class="progress-bar progress-bar-striped align-middle {% if avancement == 100 %}bg-success{% elseif avancement >= 66 %}bg-info{% elseif avancement >= 33 %}bg-warning{% else %}bg-danger{% endif %}" role="progressbar" style="width: {{ avancement }}%; font-size:18px; height: 100%;" aria-valuenow="{{ avancement }}" aria-valuemin="0" aria-valuemax="100">{{ avancement }}%</div>
          </div></h4>
            {% for tacheProj in projet.tacheProjets %}
              {% if tacheProj.tache.categorie.id == categ.id %}
                <li class="list-group-item">
                  <div class="form-check">
                    <input type="checkbox" {% if tacheProj.termine == 1 %}checked{% endif %} class="form-check-input checkAvancement" id="tache{{ tacheProj.tache.id }}" name="tache{{ tacheProj.tache.id }}">
                    <label class="form-check-label labelAvancement" for="tache{{ tacheProj.tache.id }}">{{ tacheProj.tache.name }}</label>
                    <label class="checkmark" for="tache{{ tacheProj.tache.id }}"></label>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
    {% endif %}
  {% endfor %}
  <input type="submit" class="btn btn-dark d-block mx-auto mb-3" value="Sauvegarder l'avancement">
{{ form_end(form) }}
{% endblock %}
