{% extends 'base.html.twig' %}

{% block title %}Modifier le projet {{ projet.name }}{% endblock %}

{% block body %}
<h1 class="mb-3 mb-sm-5">Modifier le projet {{ projet.name }} <a href="{{ path('parametresProjets') }}" class="btn btn-dark d-none d-sm-inline-block">Annuler</a></h1>
{{ form_start(form, {'attr': {'id': 'formModifierProj'}} ) }}
  <div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
  </div>
  <div class="invalid-feedback col-sm-10 p-0 mt-0" id="invalidNomUtilise">Ce nom de projet est déjà utilisé</div>
  <h3 class="mt-3 mt-sm-5 mb-0">Tâches du projet</h3>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="invalidAucuneTache">
    Vous n'avez ajouté aucune tâche !
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ul class="tacheProjets p-0" id="tachesModifierProjet" data-prototype="{{ form_widget(form.tacheProjets.vars.prototype)|e('html_attr') }}">
    {% for tacheProjet in form.tacheProjets %}
      <li class="mt-3 list-style-type-none">{{form_widget(tacheProjet)}}</li>
    {% endfor %}
  </ul>
  <input type="submit" class="btn btn-dark m-auto d-block" value="Enregistrer">
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var twigNomProjet = '{{ projet.name|url_encode }}';
        var twigNombreTaches = '{{ projet.tacheProjets|length }}';
    </script>
    <script src="{{ asset('js/modifierProjet.js') }}"></script>
{% endblock %}
