{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
<h1 class="mb-5">Créer un nouveau projet</h1>
{{ form_start(form, {'attr': {'id': 'formNouveauProj'}} ) }}
  <div class="form-group row">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    <div class="invalid-feedback" id="invalidNomUtilise" style="font-size: 16px;">Ce nom de projet est déjà utilisé</div>
  </div>
  <h3 class="mt-5">Tâches du projet</h3>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="invalidAucuneTache">
    Vous n'avez ajouté aucune tâche !
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ul class="tacheProjets p-0" id="tachesNouveauProjet" data-prototype="{{ form_widget(form.tacheProjets.vars.prototype)|e('html_attr') }}">
    {% for tacheProjet in form.tacheProjets %}
      <li class="mt-3 list-style-type-none">{{form_row(tacheProjet)}}</li>
    {% endfor %}
  </ul>
  <input type="submit" class="btn btn-dark m-auto d-block" id="boutonCreerProjet" value="Enregistrer">
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/nouveauProjet.js') }}"></script>
{% endblock %}
