{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
<h1>Projets</h1>
<a class="btn btn-outline-success mb-4 mt-2" href="{{ path('nouveauProjet') }}"><i class="fa fa-plus"></i> Nouveau projet</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom du projet</th>
      <th>Avancement</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 1 %}
    {% for projet in projets %}
    {% set total = 0 %}
    {% set current = 0 %} <!-- Calcul de l'avancement de chaque projet -->
      {% for tacheProj in tachesProjets %}
        {% if projet.id == tacheProj.projet.id %}
          {% set total = total + 1 %}
          {% if tacheProj.termine == 1 %}
            {% set current = current + 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% set avancement = ((current / total)*100)|round %}
    {% if avancement == 100 %}
    {% set bg = "bg-success" %}
    {% elseif avancement >= 66 %}
    {% set bg = "bg-info" %}
    {% elseif avancement >= 33 %}
    {% set bg = "bg-warning" %}
    {% else %}
    {% set bg = "bg-danger" %}
    {% endif %}
    <tr>
      <td class="align-middle">{{ i }}</td>
      <td class="align-middle">{{ projet.name }}</td>
      <td class="align-middle">
        <div class="progress" style="height: 38px">
          <div class="progress-bar progress-bar-striped {{ bg }}" role="progressbar" style="width: {{ avancement }}%; font-size:20px;" aria-valuenow="{{ avancement }}" aria-valuemin="0" aria-valuemax="100">{{ avancement }}%</div>
        </div>
      </td>
      <td class="align-middle text-right"><a class="btn btn-outline-info" href="{{ path('modifierProjet', {'slug':projet.slug}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a> <a onclick="confirmSupprProjet({{ projet.id }}, '{{ projet.name|url_encode }}')" class="btn btn-outline-danger" href="#"><i class="far fa-trash-alt"></i> Supprimer</a></td>
    </tr>
    {% set i = i + 1 %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  function confirmSupprProjet(id, nom) {
    if (confirm("Êtes-vous sûr de vouloir supprimer définitivement le projet " + decodeURIComponent(nom) + " ?")) {
      document.location = '/parametres/projets/supprimer/'+id+'/';
    }
  }
</script>
{% endblock %}
