{% extends 'base.html.twig' %}

{% block title %}Gestion des types de projet{% endblock %}

{% block body %}
<h1>Types de projet</h1>
<a class="btn btn-success mb-4 mt-2" href="{{ path('nouveauType') }}"><i class="fa fa-plus"></i> Nouveau type de projet</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="d-none d-sm-table-cell">#</th>
      <th>Type de projet</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% set i = 1 %}
    {% for type in types_projets %}
      <tr>
        <td class="align-middle d-none d-sm-table-cell">{{ i }}</td>
        <td class="align-middle">{{ type.nom }}</td>
        <td class="align-middle text-right"><a class="btn btn-info" href="{{ path('modifierType', { 'name':type.slug }) }}"><i class="fas fa-pencil-alt"></i><span class="d-none d-sm-inline-block">&nbsp;Modifier</span></a> <a onclick="confirmSupprTypeProjet({{ type.id }}, '{{ type.nom|url_encode }}')" class="btn btn-outline-danger" href="#"><i class="far fa-trash-alt"></i><span class="d-none d-sm-inline-block">&nbsp;Supprimer</span></a></td>
      </tr>
      {% set i = i + 1 %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  function confirmSupprTypeProjet(id, nom) {
    if (confirm("Êtes-vous sûr de vouloir supprimer définitivement le type de projet " + decodeURIComponent(nom) + " ?")) {
      document.location = '/parametres/types-projets/supprimer/'+id+'/';
    }
  }
</script>
{% endblock %}
